@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Bricolage+Grotesque:opsz,wght@10..48,800&family=Dancing+Script:wght@700&family=Great+Vibes&family=Nanum+Gothic&family=Noto+Sans+KR:wght@500&display=swap');
.flex {
  display: flex;
}

.navbar {
  height: 30px;
  position: fixed;
  width: 100%;
}


.font {
  font-family: 'Dancing Script', cursive;
}

.me-auto{
  font-size: 12px;
}


.header {
  margin: auto;
  height: 150px;
  width: 1000px;
  background-color: white;
  padding-top: 30px;
  /* 반응형 작업 할거면 100%로 해도 상관없음 */
}

.logo {
  height: 120px;
  width: 33%;
  font-size: 50px;
}

.logo > p {
  font-family: 'Nanum Gothic', sans-serif;
  height: 120px;
  font-family: '';
  font-size: 10px;
  color: gray;
}

.search {

  width: 34%;
  background-color: white;

}

.header-input {
  margin-top: 25px;
  margin-left: 65px;
  width: 210px;
  height: 30px;
  border: 1px solid #fabe2d;;
 
}

.header-input:focus {
  border-color: #fabe2d;
  background-color: gainsboro;
  outline: none;
}

.icon {
  height: 30px;
  width: 37px;
  background-color: #fabe2d;
  color: white;
  position: absolute;  /*부모요소 기준으로 위치 조정하기 */
  margin-top: 25px;

}

.search-box{
  margin-left: 20px;
  width: 300px;
  list-style-type: none;
  text-align: center;
}

.search-box > li {
  display: inline-block;
  font-size: 1px;
  margin-left: 10px;
}

.hot {
 background-color: black;
 color: white;
 padding: 3px;
 border-radius: 10%;
}

.a {
  height: 120px;
  width: 33%;

}

.header-box {
  height: 40px;
  width: 100%;
  background-color: #212121;
  color: white;
  cursor: pointer;
}

.class {
  margin: auto;
}

.header-link {
  text-align: center;
  list-style-type: none;
}

.header-link > li {
  display: inline-block;
  padding: 10px;
  margin-left: 50px;
  font-size: 14px;
}

.learn {
 text-decoration: none;
 color: yellow
}
