.tool-product-container {
    height: 1700px;
    padding: 120px;
  }
  
.tool-product-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 170px  1px;
  }
  
  